.fd {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-around;
    z-index: 100;
    padding-top: 90px;
}
.fd-img {
    width: 130px;
}
@media (min-width:768px) {
    .fd-img {
        width: 330px;
    }
}
.left {
    text-align: left;
    padding-left: 16px;
}
.react-multiple-carousel__arrow--left {
    left: calc(15% + 1px);
}
.react-multiple-carousel__arrow {
    top: calc(30% + 1px);
    background: rgb(255,255,255,0.1);
}
.react-multiple-carousel__arrow--right {
    left: calc(20% + 1px);
}
.react-multiple-carousel__arrow:hover {
    background: rgb(255,255,255,0.5);
}
.react-multi-carousel-dot-list {
    top: calc(80% + 1px);
    justify-content: flex-start;
    left: calc(15% + 1px);
}
.react-multi-carousel-list {
    z-index: 20;
}
.arrow-down {
    font-size: 48px;
    animation: shake-vertical 2.5s ease-in-out infinite both;
    z-index: 20;
}
@keyframes shake-vertical {
    0%,
    100% {
      transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      transform: translateY(8px);
    }
    80% {
      transform: translateY(6.4px);
    }
    90% {
      transform: translateY(-6.4px);
    }
}
  