.orbit-spinner {
    box-sizing: border-box;
}

  .orbit-spinner {
    height: 255px;
    width: 255px;
    border-radius: 50%;
    perspective: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  .orbit-spinner .orbit {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .orbit-spinner .orbit:nth-child(1) {
    left: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-one-animation 2s linear infinite;
    border-bottom: 13px solid #000000;
  }

  .orbit-spinner .orbit:nth-child(2) {
    right: 0%;
    top: 0%;
    animation: orbit-spinner-orbit-two-animation 2s linear infinite;
    border-right: 13px solid #000000;
  }

  .orbit-spinner .orbit:nth-child(3) {
    right: 0%;
    bottom: 0%;
    animation: orbit-spinner-orbit-three-animation 2s linear infinite;
    border-top: 13px solid #000000;
  }

  .spin {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 66px;
    z-index: 5;
    opacity: 0.1;
    overflow: hidden;
  }

  @keyframes orbit-spinner-orbit-one-animation {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @keyframes orbit-spinner-orbit-two-animation {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @keyframes orbit-spinner-orbit-three-animation {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
  @media (min-width:1024px) {
    .orbit-spinner {
      width: 455px;
      height: 455px;
    }
    .orbit-spinner .orbit:nth-child(1) {
      border-bottom: 33px solid #000000;
    }
    .orbit-spinner .orbit:nth-child(2) {
      border-right: 33px solid #000000;
    }
    .orbit-spinner .orbit:nth-child(3) {
      border-top: 33px solid #000000;
    }
  }