.App {
  text-align: center;
}
.container::before  {
  display: block;
  content: " ";
  margin-top: -66px;
  height: 66px;
  visibility: hidden;
}
.palax-bg {
  background: linear-gradient(45deg, rgba(47,47,162,1) 0%, 
    rgba(47,47,162,0.9) 50%, 
    rgba(80,52,154,0.9) 75%, 
    rgba(111,56,147,0.9) 85%, 
    rgba(246,76,114,1) 100%);
}